.images {
    width: 130px;
}

.images-order {
    width: 50px;
}

.images img, .images-order img {
    max-width: 100%;
}

.name:hover {
    text-decoration: none;
    color: var(--color-primary)!important;
    transition: .3s;
}

.content {
    width: calc(100% - 130px);
}

.content-order {
    width: calc(100% - 50px);
}

.description, .description-order {
    width: 60%;
}

.price {
    font-size: 16px;
    /* color: var(--color-primary); */
}

.group-input {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.group-input button:first-child {
    border-right: none;
    border-radius: 4px 0px 0px 4px;
}

.group-input button {
    cursor: pointer;
    width: 32px;
    border: 1px solid #dee2e6;
    background-color: rgb(255, 255, 255);
}

.group-input button, .group-input input {
    height: 30px;
    color: rgb(36, 36, 36);
    font-size: 14px;
    text-align: center;
    outline: none;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.group-input input {
    width: 75px;
    border: 1px solid #dee2e6;
}

.group-input button:last-child {
    border-left: none;
    border-radius: 0px 4px 4px 0px;
    right: 0;
    border-left: 1px solid #dee2e6;
}

.cart-total {
    position: sticky;
    top: 1.5rem;
}

.value-final {
    color: rgb(254, 56, 52);
    font-size: 22px;
    font-weight: 400;
    text-align: right;
}

.nav-tabs .active {
    border-left: 4px solid var(--color-primary);
    background-color: #f8f9fa;
}

.radio {
    white-space: nowrap;
    padding-right: .75em;
    display: table-cell;
}

.input-radio {
    width: 18px;
    height: 18px;
}

.radio-label {
    cursor: pointer;
    vertical-align: middle;
    display: table-cell;
    width: 100%;
}

.form-control:focus {
    border-color: var(--color-primary);
    outline: none;
    box-shadow: none;
}

.hr::after {
    content: '';
    width: 100px;
    height: 1px;
    display: inline-block;
    background-color: #007bff;
    transform: translateY(3px);
}

/* //// */

@media (max-width: 415px) {
    .images {
        width: 65px;
    }
    .content {
        width: calc(100% - 65px);
    }
    .description {
        width: 100%;
    }
    .description-order {
        width: 65%;
    }
    .input {
        padding-right: 30px!important;
    }
}

.step__btn {
    width: 32px;
    height: 32px;
    line-height: 32px;
}