<div class="place-top bg-light">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-page">
                        <h2>{{ 'FESearch.result' | translate }} "{{ search.nameSearch }}"</h2>
                        <p>Có {{ cwstable.settings.total }} {{ 'FEProduct.product' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-light place">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-9">
                    <div *ngIf="search.show == 0">
                        <div class="pt-md-5 pb-5 text-md-center bg-white " *ngIf="search.show == 0">
                            <h4 class="result-search">{{ 'FESearch.notFound' | translate }} </h4>
                            <p class="m-0 text-black-50" style="font-size: 1.1rem;">
                                {{ 'FESearch.tryAgain' | translate }}</p>
                            <div class="input-group pb-4 pt-3 col-md-8 offset-md-2 align-items-center text-inline">
                                <input type="text" class="form-control input-search" (keyup.enter)="searchAgain()"
                                    [(ngModel)]="search.value" name="search"
                                    placeholder="{{ 'FESearch.title'|translate }}" aria-label=""
                                    aria-describedby="button-addon2" id="searchAgain">
                                <span style="cursor: pointer;" (click)="searchAgain()">
                                    <i class="fas fa-search fa-lg icon-search"></i>
                                </span>
                            </div>
                            <div class="col-xl-12 text-center">
                                <button class="btn btn-more bg-primary text-white" [routerLink]="['/']">
                                    <span> {{ 'FEbtn.home'|translate }}</span>
                                    <i class="fas fa-long-arrow-alt-right ml-2"></i>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="search.show == -1">
                            <div
                                class="position-relative d-flex align-items-center justify-content-center pb-lg-5 pb-4">
                                <img src="../../../assets/img/loading.gif" width="115px">
                                <!-- <img class="position-absolute logo-load" style="opacity: 0.5;"
                                        src="../../../assets/img/loading-default.png" width="75"> -->
                            </div>
                        </div>
                    </div>
                    <div class="row p-2" *ngIf="search.show == 1">
                        <div class="col-md-6 col-12 mb-4 p-2" *ngFor="let item of cwstable.data">
                            <app-box-product [item]="item"> </app-box-product>
                        </div>
                        <div class="col-12" *ngIf="cwstable.cached.length > Pagination.itemsPerPage">
                            <pagination [directionLinks]="false" class="d-flex justify-content-end pt-lg-4"
                                [totalItems]="cwstable.cached.length" [itemsPerPage]="Pagination.itemsPerPage"
                                [maxSize]="Pagination.maxSize" (pageChanged)="Pagination.change($event)">
                            </pagination>
                        </div>
                    </div>
                    <div class="row" *ngIf="show == 0">
                        <div class="col-12 text-center pt-4 pb-4">
                            <h4>{{ 'FEProduct.NotHaveProduct' | translate }}</h4>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 pb-4">
                    <div>
                        <div class="title-border position-relative">
                            <h5 class="mb-0 font-weight-bold text-uppercase d-inline-block">
                                {{ 'FEProduct.category' | translate }}
                            </h5>
                        </div>
                        <ul class="category">
                            <li class="d-flex align-items-center pt-2" *ngFor="let item of categories">
                                <i class="far fa-angle-double-right mr-2"></i>
                                <a [routerLink]="[ '/san-pham/'+item.link ]">
                                    {{ item.name }}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="product-hot pt-3" *ngIf="product.new.name && product.new.name.length > 0">
                        <div class="title-border position-relative">
                            <h5 class="mb-0 font-weight-bold text-uppercase d-inline-block">
                                {{ product.new.title }}
                            </h5>
                        </div>
                        <div class="pt-2" *ngFor="let item of product.new.list">
                            <app-box-product [item]="item" [type]="1"> </app-box-product>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>