<!-- (clickOutside)="clickOutside()" -->
<div class="menu">
    <nav class="navbar navbar-expand-md p-0">
        <ul class="navbar-nav w-100 align-items-center" *ngIf="menu && menu.length > 0">
            <li class="position-relative menu__item d-flex h-100 nav-item align-items-center" *ngFor="let item of menu">
                <!-- (click)="routerLink(item)" -->
                <a class="nav-link cursor-pointer p-3 color-text--title color-secondary--hover"
                    [routerLink]="!UNREDIRECT_LIST.includes(item.code) ? item.href : null"
                    routerLinkActive="is--active"
                     >
                    <div class="align-items-center d-flex">
                        <span class="font-weight-bold text-nowrap">{{ item.name }}</span>
                        <i class="far fa-angle-down ml-2" *ngIf="item.data?.length"></i>
                    </div>
                </a>
                <!-- *ngIf="item.data?.length && sub_menu" 
                [style]="isShow == item.id ? 'display: block' : 'display: none'"-->
                <div id="sub-menu" class="sub-menu" *ngIf="CODE_LIST.includes(item.code)">
                    <ul [id]="'sub-menu-' + item.level">
                        <li class="text-right" *ngFor="let row of item.data"
                            [class.active]="+item.data[0].id === +row.id">
                            <div class="px-4 position-relative" style="padding-top: 12px; padding-bottom: 12px;">
                                <a class="titleAcitve text-white text-decoration-none"
                                    [routerLink]="row.parent_link + '/' + row.href">
                                    {{ row.name }}
                                </a>
                            </div>
                            <div class="text-left bg-white" [id]="'sub-menu-' + row.level">
                                <div class="px-3 d-inline-block" [ngClass]="'sub-menu-' + r.level"
                                    *ngFor="let r of row.data">
                                    <a class="nav-link pt-0 pb-0" [routerLink]="item.link + '/' + r.href">
                                        <span class="ont-weight-bold text-truncate d-block">
                                            {{ r.name }}
                                        </span>
                                    </a>
                                    <!-- <a class="nav-link pt-0 pb-0" [href]="r.href" *ngIf="r.type == 1" target="_blank">
                                        <span class="ont-weight-bold">
                                            {{ r.title && r.title != '' ? r.title : r.name }}
                                        </span>
                                    </a> -->
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <ng-template [ngIf]="CODE_LIST.includes(item.code) === false">
                    <ul *ngIf="item.data?.length" class="menu-type-2 list-unstyled px-4 py-3">
                        <li *ngFor="let row of item.data; last as last" [class.mb-0]="last"
                            class="bg-white menu-type-2__item">
                            <a [routerLink]="row.parent_link + '/' + row.href"
                                class="menu-type-2__link position-relative d-block text-decoration-none text-nowrap color-primary--hover">
                                {{ row.name }}
                            </a>
                        </li>
                    </ul>
                </ng-template>
            </li>
        </ul>
    </nav>
</div>