/* Reset */

:root {
    --color-primary: #{$colorPrimary};
    --color-secondary: #{$colorSecondary};
    // --color-primary: #{$colorText};
}

body {
    // font-family: $fontPrimary;
    // width: 100%;

    font-family: $fontPrimary;
    background-color: whitesmoke;
    // font-size: 15px;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    // width: $w-scrollbar;

    // &-thumb {
    //     border-radius: $w-scrollbar;
    //     background-color: #c1c1c1;
    // }

    // &-track {
    //     background-color: #f1f1f1;
    // }
}

img {
    transform: translateZ(0);
}

.container-main {
    max-width: 1170px;
    margin: 0 auto;
}

.cursor-pointer {
    cursor: pointer;
}

#page-detail {
    // img {
    //     max-width: 100%;
    //     height: auto;
    // }
}

::selection {
    color: $colorWhite;
    background-color: $colorSecondary;
}

