<form [formGroup]="fm" *ngIf="fm" (submit)='onSubmit()'>
    <div class="row">
        <div class="col-12">
            <h4>{{ 'FECustomer.title' | translate }}</h4>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
            <div class="form-group">
                <label>
                    {{ 'FECustomer.name' | translate }}
                </label>
                <input type="text" class="form-control" name="name" formControlName="name"
                    placeholder="{{ 'FECustomer.name' | translate }}">
                <small *ngIf="!fm.get('name').valid && fm.get('name').touched" style="color:red">{{'message.required'
                    | translate}}</small>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
            <div class="form-group">
                <label>{{ 'FECustomer.email' | translate }}

                </label>
                <input readonly type="email" class="form-control" name="email" formControlName="email"
                    placeholder="{{ 'FECustomer.email' | translate }}">
                <small *ngIf="!fm.get('email').valid && fm.get('email').touched" style="color:red">{{'message.email'
                    | translate}}</small>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-12">
            <div class="form-group">
                <label>{{ 'lblPhone' | translate }}</label>
                <input type="text" class="form-control" name="phone" formControlName="phone"
                    placeholder="{{ 'lblPhone' | translate }}">
            </div>
        </div>
        <div class="col-lg-8 col-md-6 col-12">
            <div class="form-group">
                <label>{{ 'FECustomer.address' | translate }}</label>
                <textarea class="form-control" style="height: 38px;" formControlName="address" name="address"
                    id="address" placeholder="{{'FECustomer.address' | translate }}"></textarea>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
            <div class="form-group">
                <label>{{ 'FECustomer.gender' | translate }}</label>
                <br />
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="male" name="sex" class="custom-control-input" formControlName="sex"
                        [value]="1">
                    <label class="custom-control-label" for="male">{{'FECustomer.male' |
                        translate }}</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="female" name="sex" class="custom-control-input" formControlName="sex"
                        [value]="0">
                    <label class="custom-control-label" for="female">{{'FECustomer.female' |
                        translate
                        }}</label>
                </div>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" [disabled]="!fm.valid" class="btn btn-success float-right mr-md-2">
                {{'FEbtn.edit' | translate }}
            </button>

        </div>
    </div>
</form>