/* Colors rules */

$colorPrimary: #5792c8;
$colorSecondary: #3453a0;
$colorWhite: #fff;
$colorTextTitle: #3d5067;
$colorTextDesc: #596a7d;
// $colorHeaderIcon: #479cf6;
// $bgFooter: #010f27;
// $borderPrimary: #cfcfcf;

.color-primary {
    color: $colorPrimary;
}

.color-text--title {
    color: $colorTextTitle;
}

.color-text--desc {
    color: $colorTextDesc;
}

.bg--primary {
    background-color: $colorPrimary;
}

.border--primary {
    border-color: $colorPrimary;
}

.bg--secondary {
    background-color: $colorSecondary;
}

.color-primary--hover:hover,
.color-primary--hover:hover * {
    color: $colorPrimary !important;
}

.color-secondary {
    color: $colorSecondary;
}

.color-secondary--hover:hover,
.color-secondary--hover:hover * {
    color: $colorSecondary !important;
}

// .color-text {
//     color: $colorText;
// }

.is--active {
    color: $colorSecondary;
}
