.slide {
    $h: 33.75rem;
    height: $h;

    &-bg {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &-content {
        height: var(--height);
    }

    &-description {
        background-color: rgb(0, 0, 0, 0.33);
    }

    &-title {
        font-size: 42px;
        background-color: rgb(0, 0, 0, 0.33);
    }

    &-btn {
        &:hover {
            color: #333 !important;
            background-color: transparent;
        }

        > i {
            font-size: 20px;
        }
    }
}
