.br-text::before {
    content: '';
    margin-right: 10px;
    border-top: 2px solid #f86109;
    width: 3.125rem;
}

.br-contact {
    border-width: 2px;
    border-bottom-color: rgba(24, 24, 24, .1);
    margin: 2em 0;
    border-bottom: 1px solid #ccc;
}

.title-contact h2 {
    font-size: 45px;
}

.info-contact a {
    text-decoration: none;
    color: #373940;
    display: block;
}

.title-contact h2, .title-contact h2 span {
    text-transform: capitalize;
    font-size: 44px;
}

.btn-contact {
    background: linear-gradient(to bottom, #f8790f, #f85106);
    width: 100px;
    color: white;
    font-weight: 600;
    transition: 0.3s;
}

.btn-contact:focus {
    transition: 0.3s;
    background: linear-gradient(to bottom, #f85106, #f85106);
}

input:focus, textarea:focus {
    box-shadow: none !important;
    border: 1px solid #222 !important;
}

.form-control:focus {
    box-shadow: none;
}

@media (max-width: 1025px) {
    .title-contact p {
        font-size: 17px;
    }
}

@media (max-width: 769px) {}