@import 'src/scss/abstracts/colors';

ul li {
    list-style: none;
}

.title {
    font-size: 0.95rem;
    cursor: pointer;
}

.btn:focus {
    color: $colorSecondary;
}

.active,
.item-title:hover,
input {
    color: var(--color-primary);
    cursor: pointer;
}

#mobile-filter {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1000;
}

#mobile-filter .content {
    position: relative;
    top: 0%;
    width: 100%;
    text-align: center;
}

/* .item-title {} */

/* .active {
    border-bottom: 1px solid var(--color-primary);
    border-left: 2px solid var(--color-primary);
    color: var(--color-primary);
} */
