<div class="place bg-light">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12 d-md-block d-none">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="w-100">
                                <small class="font-weight-bold">{{ 'FECustomer.account' | translate }}</small>
                                <h5>{{ globals.CUSTOMER.get(true).name }}</h5>
                            </div>
                            <div class="mt-3">
                                <button type="button" class="btn btn-defaut w-100 d-flex align-items-center"
                                    [routerLink]="['/thong-tin-khach-hang']" routerLinkActive="active">
                                    <i class="fas fa-list-alt mr-3"></i>{{ 'FECustomer.info' | translate }}</button>
                            </div>
                            <div class="mt-3">
                                <button type="button" class="btn btn-defaut w-100 d-flex align-items-center"
                                    [routerLink]="['/thong-tin-don-hang']" routerLinkActive="active">
                                    <i class="fas fa-shopping-bag mr-3"></i>
                                    <span> {{ 'FECustomer.cart' | translate}}</span>
                                </button>

                            </div>
                            <div class="mt-3">
                                <button type="button" [routerLink]="['/doi-mat-khau']" routerLinkActive="active"
                                    class="btn btn-defaut w-100 d-flex align-items-center">
                                    <i class="mr-3  fas fa-unlock-alt"></i>{{'FECustomer.changePassword' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-12">
                    <div class="bg-white p-md-4 p-3">
                        <div class="">
                            <app-inforuser [id]='id' *ngIf="link == 'thong-tin-khach-hang'">
                            </app-inforuser>
                            <app-infocart [id]='id' *ngIf="link == 'thong-tin-don-hang'">
                            </app-infocart>
                            <app-infocartdetail *ngIf="link == 'chi-tiet-don-hang'">
                            </app-infocartdetail>
                            <app-change-password *ngIf="link == 'doi-mat-khau'"> </app-change-password>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>