<form [formGroup]="fm" *ngIf="fm" (submit)='$event.stopPropagation()'>
    <div class="card">
        <div class="card-header text-white bg-primary">
            <strong>{{ 'products.information' | translate }}</strong>
        </div>
        <div class="card-body">
            <div class="row ">
                <div class="col-md-6 col-12 ">
                    <div class="form-group was-validated">
                        <label>{{ 'lblName' | translate }} <span class="text-danger">*</span></label>
                        <input name="name" (keyup)="onChangeLink($event)" formControlName="name" type="text"
                            autocomplete="off" class="form-control" required />
                        <small style="color:red" *ngIf="fm.get('name').invalid && fm.get('name').touched">{{
                            'message.required'|translate }}</small>
                    </div>
                    <div class="form-group was-validated">
                        <label>{{ 'lblLink' | translate }} <span class="text-danger">*</span></label>
                        <input name="link" (keyup)="link._keyup($event)" [(ngModel)]="fm.value.link"
                            formControlName="link" type="text" class="form-control" required />
                        <small style="color:red" *ngIf="fm.get('link').invalid && fm.get('link').touched">{{
                            'message.required'|translate }}</small>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="row">
                        <!-- <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Code
                                    <span class="text-danger">*</span>
                                </label>
                                <input name="code" [(ngModel)]="fm.value.code" formControlName="code" type="text"
                                    class="form-control" required />
                                <small style="color:red" *ngIf="fm.get('code').invalid && fm.get('code').touched">
                                    {{ 'message.required'|translate }}
                                </small>
                            </div>
                        </div> -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'lblGroup' | translate }}<span class="ml-2" style="color:red">*</span></label>
                                <div>
                                    <select name="page_id" formControlName="page_id" class="form-control" required>
                                        <option *ngFor="let item of data.group " [value]="item.id">
                                            {{ item.name }}</option>
                                    </select>
                                    <small style="color:red"
                                        *ngIf="fm.get('page_id').invalid && fm.get('page_id').touched">{{
                                        'message.required'|translate }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-6 col-12 pr-md-0">
                            <div class="form-group">
                                <label for="brand">{{ 'products.brand' | translate }}</label>
                                <select class="form-control" name="brand_id" formControlName="brand_id" id="brand">
                                    <option value="0">{{'products.chooseBrand'|translate}} </option>
                                    <option *ngFor="let item of data.brand" [value]="item.id"
                                        [disabled]="item.status == 0">{{item.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="origin">{{ 'products.origin' | translate }}</label>
                                <select class="form-control" name="origin_id" formControlName="origin_id" id="origin">
                                    <option value="0">{{'products.chooseOrigin'|translate}} </option>
                                    <option *ngFor="let item of data.origin" [value]="item.id"
                                        [disabled]="item.status == 0">{{item.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>{{ 'products.info' | translate }}</label>
                        <ckeditor name="info" [config]="globals.configCkeditor" formControlName="info" skin="moono-lisa"
                            language="en">
                        </ckeditor>
                    </div>
                    <div class="form-group">
                        <label>{{ 'lblDetail' | translate }}</label>
                        <ckeditor id="ckeditorDetail" class="ckeditorDetail" [config]="globals.configCkeditor"
                            data="detail" formControlName="detail">
                        </ckeditor>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="float-left">
                <label class="lable-switch pull-left">
                    <div class="switch">
                        <input checked="checked" formControlName="status" type="checkbox" name="status">
                        <span class="lever"></span>
                    </div>
                    <span ng-bind="lang.lbl_status_on" class="ng-binding">{{ (fm.value.status == 1 ? 'status.on' :
                        'status.off') | translate }}</span>
                </label>
            </div>
            <div class="float-right">
                <button type="button" [routerLink]="[(id && id !=0)?'../../get-list':'../get-list']"
                    class="btn btn-primary mr-2">{{ 'btn.back' | translate }} </button>
                <button (click)="onSubmit()" [disabled]="!fm.valid || skip" class="btn btn-success" type="button">{{
                    'btn.save'|translate }}</button>
            </div>
        </div>
    </div>
</form>

<!-- config Price -->
<form [formGroup]="price" *ngIf="price" (submit)='$event.stopPropagation()'>
    <div class="card mt-3">
        <div class="card-header text-white bg-primary">
            <strong>
                {{ 'products.settingsPrice' | translate }}
            </strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="price">
                            {{ 'products.PromotionPrice' | translate }}
                        </label>
                        <input type="text" name="price" symbolNumber formControlName="price" class="form-control"
                            id="price" />
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="price_sale">
                            {{ 'products.PriceSaleProduct' | translate }}
                        </label>
                        <input symbolNumber formControlName="price_sale" name="price_sale" id="price_sale"
                            class="form-control" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="status">
                            {{ 'products.status' | translate }}
                        </label>
                        <input type="text" formControlName="inventory" name="inventory" class="form-control"
                            autocomplete="off" id="status" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 mb-3">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="vatnull" name="vat" class="custom-control-input" formControlName="vat"
                            [value]="0">
                        <label class="custom-control-label" for="vatnull">
                            {{'products.radNullVat' | translate }}
                        </label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="vatisset" name="vat" class="custom-control-input" formControlName="vat"
                            [value]="1">
                        <label class="custom-control-label" for="vatisset">
                            {{'products.radIssetVat' | translate }}
                        </label>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-footer">
            <div class="float-md-right">
                <button (click)="updatePrice()" [disabled]="id && id > 0 ? false : true" class="btn btn-success"
                    type="button">
                    {{ 'btn.save' | translate }}
                </button>
            </div>
        </div>
    </div>
</form>

<div class="card mt-3">
    <div class="card-header text-white bg-primary">
        <strong class="mr-2">{{ 'products.settingsImages' | translate }}</strong>
        <small class="d-inline-block"> (.png / .jpg / size: 300px x 400px)</small>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2 col-12 pr-md-0 text-center">
                <div class="form-group ">
                    <label>{{ 'lblImages' | translate }} </label>
                    <div class="imagesThumb" *ngIf="images">
                        <div *ngFor="let item of images.data ; let i = index">
                            <img [src]="item.src" *ngIf="item.type==0 || item.type==1" />
                            <span (click)="images._change($event,item)" *ngIf="item.type==0 || item.type==1"
                                class="change">
                                <i class="far fa-image"></i>
                            </span>
                            <span (click)="images._del(i)" *ngIf="item.type==0 || item.type==1" class="del">
                                <i class="fas fa-times-circle"></i>
                            </span>
                            <span (click)="images._push($event)" *ngIf="item.type==2" class="add">
                                <i class="fa fa-plus"></i>
                            </span>
                        </div>
                        <input type="file" (change)="images._onchange($event)">
                    </div>

                </div>
            </div>
            <div class="col-md-10 col-12">
                <div class="form-group">
                    <label>{{ 'products.listimages' | translate }}</label>
                    <div class="imagesThumb" *ngIf="listimages">
                        <div *ngFor="let item of listimages.data ; let i = index">
                            <img [src]="item.src" *ngIf="item.type==0 || item.type==1" />
                            <span (click)="listimages._change($event,item)" *ngIf="item.type==0 || item.type==1"
                                class="change">
                                <i class="far fa-image"></i>
                            </span>
                            <span (click)="listimages._del(i)" *ngIf="item.type==0 || item.type==1" class="del">
                                <i class="fas fa-times-circle"></i>
                            </span>
                            <span (click)="listimages._push($event)" *ngIf="item.type==2" class="add">
                                <i class="fa fa-plus"></i>
                            </span>
                        </div>
                        <input type="file" (change)="listimages._onchange($event)">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="float-md-right">
            <button (click)="productImages.process()" [disabled]="id && id >0 ? false: true" class="btn "
                [ngClass]="id && id >0 ? 'btn-success' :'btn-defaut'" type="button">{{ 'btn.save'|translate }}</button>
        </div>
    </div>
</div>

<!-- <div class="card mt-3">
    <div class="card-header text-white bg-primary">
        <strong class="mr-2">{{'products.attribute' | translate}}</strong>
    </div>
    <div class="card-body">
        <div class="row">
            <div class=" mb-4" *ngFor="let item of attribute.data; let i = index"
                [ngClass]="attribute.data.length > 2 ? 'col-md-4' : 'col-md-6'">
                <div class="form-group">
                    <label>{{item.name}}</label>
                    <input type="text" (keyup)="attribute.keyup($event, item)" class="form-control" name="keywords">
                    <div class="keywords mt-3" *ngIf="item.list.length > 0">
                        <button type="button" class="btn btn-info mr-1 mt-1"
                            *ngFor="let rows of item.list; let j = index">
                            {{rows}}
                            <span class="fas fa-times-circle" (click)="attribute.remove(item,rows)"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="float-md-right">
            <button (click)="attribute.onSubmit()" [disabled]="id && id >0 ? false: true" class="btn "
                [ngClass]="id && id >0 ? 'btn-success' :'btn-defaut'" type="button">{{'btn.save'|translate}}</button>
        </div>
    </div>
</div> -->

<form [formGroup]="seo" *ngIf="seo" (submit)='$event.stopPropagation()'>
    <div class="card mt-3">
        <div class="card-header text-white bg-primary">
            <strong>{{ 'settingsSeo' | translate }}</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label>{{ 'lblDescription' | translate }}</label>
                        <textarea name="description" rows="8" formControlName="description" class="form-control"
                            cols="100"></textarea>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12">
                    <div class="form-group">
                        <label>{{ 'lblKeyword' | translate }}</label>
                        <input type="text" (keyup)="tags._keyup($event)" class="form-control" name="keywords"
                            placeholder="{{ 'placeholderKeyword' | translate }}">
                        <div class="keywords mt-3" *ngIf="tags.dataList">
                            <button type="button" class="btn btn-info mr-1 mt-1" *ngFor="let item of tags.dataList">{{
                                item }}
                                <i class="fas fa-times-circle" (click)="tags._remove(item)"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="float-md-right">
                <button (click)="updateSeo()" [disabled]="id && id >0 ? false: true" class="btn "
                    [ngClass]="id && id >0 ? 'btn-success' :'btn-defaut'" type="button">{{ 'btn.save'|translate
                    }}</button>
            </div>
        </div>
    </div>
</form>