.form {
    border-radius: 4px;
    box-shadow: 0px 1px 7px 3px rgba(138, 87, 231, 0.1);
}

.form-control {
    border: 2px solid #e6ebf0;
    border-radius: 6px;
    height: 50px;
    box-shadow: none
}

.form-control:focus {
    border-color: var(--color-primary);
    outline: none;
    box-shadow: none;
}

.title {
    font-size: 28px;
    color: var(--color-primary);
}

.btn:focus {
    box-shadow: none;
}

.btn-login {
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    padding: 10px;
    transition: all .3s;
    background: #fff;
    color: var(--color-primary);
    cursor: pointer;
}

.btn-login i {
    color: var(--color-primary);
}

.disabled:hover {
    background: var(--color-primary);
    color: #fff;
}

.disabled:hover i {
    color: #fff;
}

.icon-password {
    position: absolute;
    right: 18px;
    z-index: 2;
    top: 2px;
    cursor: pointer;
}