<fieldset class="form p-4 bg-white">
    <form [formGroup]="fm">
        <h2 class="color-primary title font-weight-bold">{{'FERegister.register' | translate}}</h2>
        <div class="form-group">
            <label>{{ 'FERegister.name' | translate}}</label>
            <input autocomplete="off" type="text" name='name' formControlName="name" class="form-control">
            <small style="color:red" *ngIf="fm.get('name').invalid && fm.get('name').touched">
                {{ 'message.required' | translate}}
            </small>
        </div>
        <div class="form-group">
            <label>{{ 'lblPhone' | translate}}</label>
            <input autocomplete="off" type="text" name='phone' formControlName="phone" class="form-control">
            <small style="color:red" *ngIf="fm.get('phone').invalid && fm.get('phone').touched">
                {{ 'message.required' | translate}}
            </small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">{{ 'lblEmail' | translate}}</label>
            <input autocomplete="off" type="email" formControlName="email" name="email" class="form-control">
            <small style="color:red" *ngIf="fm.get('email').invalid && fm.get('email').touched">{{
                'message.email' | translate}}</small>
        </div>
        <div class="form-group">
            <label>{{ 'lblPassword' | translate}}</label>
            <div class="d-flex position-relative">
                <input autocomplete="off" (keyup.enter)="onSubmit()" [type]="type" class="form-control" name="password"
                    formControlName="password" placeholder="" app-btn-read>
                <span (click)="type = type == 'password' ? 'text' : 'password'" id="basic-addon2">
                    <i class="fa mt-3 icon-password"
                        [ngClass]="{'fa-eye': type=='password', 'fa-eye-slash': type=='text'}" aria-hidden="true"></i>
                </span>
            </div>
            <small class="d-inline" style="color:red" *ngIf="fm.get('password').invalid && fm.get('password').touched">
                {{ 'message.required' | translate}}</small>
        </div>
        <div class="form-group">
            <label class="mr-3">{{ 'FERegister.gender' | translate}}: </label>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="male" name="sex" class="custom-control-input" formControlName="sex" [value]="1">
                <label class="custom-control-label" for="male">{{'FERegister.male' |
                    translate }}</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="female" name="sex" class="custom-control-input" formControlName="sex"
                    [value]="0">
                <label class="custom-control-label" for="female">{{'FERegister.female' |translate}}</label>
            </div>
        </div>
        <div class="d-inline-block float-right">
            <button type="button" (click)="onSubmit()" [disabled]="!fm.valid" class="btn-login "
                [ngClass]="{'disabled': fm.valid}">
                <i class="fas fa-paper-plane"></i>
                {{'FEbtn.registration' | translate }}</button>
        </div>
    </form>
</fieldset>