// @import "../../../../scss/mixins";
@import 'src/scss/abstracts/mixins';
@import 'src/scss/abstracts/colors';
// @import 'src/scss/animations';

// .box-product {
//     border-radius: 8px;
//     overflow: hidden;
//     &:hover {
//         border: 1px solid var(--color-primary) !important;
//         .name > a {
//             color: var(--color-primary) !important;
//         }
//         img {
//             transform: scale(1.1);
//         }
//     }
//     .name {
//         @include line-clamp(2);
//         height: 38px;
//         line-height: 1.2;
//         h2 {
//             font-size: 1rem !important;
//         }
//     }
// }
// .bg-contact {
//     color: white;
//     border-radius: 8px;
//     padding: 5px 10px;
// }
// .price {
//     height: 3.25rem;
//     &-sale {
//         font-size: 1.125rem;
//     }
//     &-default {
//         text-decoration: line-through;
//         font-size: 0.875rem;
//         @include viewport-sm {
//             font-size: calc(0.875rem - 1px);
//         }
//     }
// }
// .images {
//     min-height: 207px;
//     max-height: 100%;
//     height: 207px;
//     overflow: hidden;
//     display: flex;
//     align-items: center;
//     width: 100%;
//     position: relative;

//     @include viewport-sm {
//         min-height: 189px;
//         height: 189px;
//     }

//     a {
//         display: block;
//         margin: 0 auto;
//         width: 100%;
//     }

//     img {
//         display: block;
//         margin: 0 auto;
//         // transition: filter 0.6s, opacity 0.6s, transform 0.6s, box-shadow 0.3s, -webkit-filter 0.6s,
//         //     -webkit-transform 0.6s, -webkit-box-shadow 0.3s;
//         transition: all 0.5s ease-in-out;
//     }
// }

.box {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    border-radius: 3px;

    &:hover &--bg {
        opacity: 1;
        transform: scale(1);
    }
    &:hover &__img {
        &::before {
            animation: shineBefore 1s;
        }

        > img {
            transform: translateZ(0) scale(1.1);
        }
    }

    &--bg {
        left: -8px;
        top: -8px;
        right: -8px;
        bottom: -8px;
        background-color: $colorWhite;
        border: 2px solid var(--color-primary);
        border-radius: 3px;
        opacity: 0;
        z-index: 1;
        box-shadow: 0 4px 14px rgb(0 0 0 / 30%);
        transform: scale(0.85);
        transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    }

    &__img {
        height: 150px;
        &::before {
            @include position(33%, 100%, 0, unquote(''), unquote(''), -67%, unquote(''));
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
            transform: skewX(-25deg);
            z-index: 1;
        }

        > img {
            max-height: 100%;
            transition: all 0.5s ease-in-out;
        }
    }

    &__title {
        @include line-clamp(5);
        height: 120px;
        font-size: 15px;
        color: $colorTextTitle;
        transition: all 0.5s ease-in-out;
    }
}

@keyframes shineBefore {
    to {
        left: 100%;
    }
}
