<!-- <div class="bg-white box-product border">
    <div class="images bg-light">
        <a [routerLink]="[ '/san-pham/' + item.parent_link + '/' +item.link]" class="nav-link p-0">
            <img [lazyLoad]="item.images" [alt]="item.name"
                [defaultImage]="'../../../../assets/img/default_product.png'" width="100%" height="100%"
                style="border-radius: 8px 8px 0 0!important;" />
        </a>
    </div>
    <div class="px-2 mt-2">
        <h4 class="name text-capitalize mb-1">
            <a [routerLink]="[ '/san-pham/' + item.parent_link + '/' +item.link]" class="nav-link p-0 text-body">
                {{ item.name }}
            </a>
        </h4>
        <div class="mb-3 small text-muted">{{ item.views }} lượt xem</div>
        <div class="price mb-2">
            <div class="d-inline bg-danger bg-contact" *ngIf="!(+item.price)">
                {{ 'lblContact' | translate }}
            </div>
            <div class="text-danger font-weight-bold price-sale" *ngIf="+item.price">
                {{ +item.price_sale ? (+item.price_sale).toLocaleString('vi') :
                (+item.price).toLocaleString('vi') }} ₫
            </div>
            <div class="d-flex align-items-center">
                <span class="badge bg-danger font-weight-normal p-1 text-white mr-1 mr-md-2" *ngIf="+item.percent">
                    {{ 'lblReduction' | translate }} {{ item.percent }}%
                </span>
                <span class="price-default text-muted p-1" *ngIf="+item.price_sale">
                    {{ (+item.price).toLocaleString('vi') }} đ
                </span>
            </div>
        </div>
    </div>
</div> -->

<article class="box position-relative h-100 bg-white mb-0 color-secondary--hover">
    <picture class="row position-relative px-3" style="z-index: 2;">
        <div class="col-5 p-2 box__img position-relative overflow-hidden">
            <img [lazyLoad]="item.images" [alt]="item.name"
                [defaultImage]="'../../../../assets/img/default_product.png'" class="img-fluid" />
        </div>
        <div class="col-7 p-0">
            <figcaption class="box__title font-weight-bold p-2">
                {{ item.name }}
            </figcaption>
        </div>
    </picture>

    <div class="box--bg position-absolute"></div>
</article>