.form {
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(138, 87, 231, 0.1);
    font-weight: bold
}

.bg-login {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    border-radius: 5px;
}

.bg-login::before {
    background: rgba(0, 0, 0, .38);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.login {
    position: relative;
    z-index: 2;
    padding: 55px 50px;
}