<fieldset class=" form p-4 bg-white">
    <form [formGroup]="fm" *ngIf='fm'>
        <h2 class="title text-uppercase font-weight-bold">{{'FELogin.login' | translate}}</h2>
        <div class="form-group">
            <label class="font-weight-bold">{{ 'lblEmail' | translate }}</label>
            <input type="email" formControlName="email" name="email" class="form-control" autocomplete="off">
            <small style="color:red" *ngIf="fm.get('email').invalid && fm.get('email').touched">
                {{ 'message.email' | translate}}</small>
        </div>
        <div class="form-group">
            <label class="font-weight-bold">{{'lblPassword' | translate}}</label>
            <div class="d-flex position-relative">
                <input autocomplete="off" (keyup.enter)="onSubmit()" [type]="type" class="form-control" name="password"
                    formControlName="password">
                <span (click)="type = type == 'password' ? 'text' : 'password'" id="basic-addon2">
                    <i class="fa mt-3 icon-password"
                        [ngClass]="{'fa-eye': type=='password', 'fa-eye-slash': type=='text'}" aria-hidden="true"></i>
                </span>
            </div>
            <small class="d-inline" style="color:red" *ngIf="fm.get('password').invalid && fm.get('password').touched">
                {{ 'message.required' | translate}}</small>
        </div>
        <div (click)="resertPass(templateResetPass)" class="" style="cursor: pointer;">
            {{'FELogin.forgotpass' | translate}}
        </div>
        <a [routerLink]="['/dang-ky']" class="mb-3 d-block d-md-none text-dark">
            <span>{{'FELogin.register' | translate}}</span>
        </a>
        <div class="d-inline-block float-right "
            [ngClass]="{'pt-3': checkLink == 1 || (checkLink == 0 && width < 500)}">
            <button type="button" (click)="onSubmit()" [disabled]="!fm.valid" class="btn-login "
                [ngClass]="{'disabled': fm.valid}">
                <i class="fas fa-paper-plane"></i>
                {{'FELogin.login' | translate }}</button>
        </div>
    </form>

    <div class="d-flex align-items-center justify-content-between pt-3">
        <div class="" *ngIf="checkLink == 1 || (checkLink == 0 && width < 500)">
            <app-frmloginfb [type]="1"></app-frmloginfb>
        </div>

    </div>

</fieldset>

<ng-template #templateResetPass>
    <div class="modal-body text-center">
        <h5>{{ 'FELogin.forgotpass' | translate}}</h5>
        <p>
            {{ 'FELogin.checkEmail' | translate}}
        </p>
        <form [formGroup]="fmresetPassword" *ngIf="fmresetPassword">
            <div class="form-group">
                <input type="text" class="form-control" name="email" formControlName="email"
                    placeholder="{{ 'lblEmail' | translate }}">
                <small style="color:red" *ngIf="fm.get('email').invalid && fm.get('email').touched">
                    {{ 'message.email' | translate }}</small>
            </div>
        </form>
        <button type="button" class="btn btn-default" (click)="decline()">{{ 'FEbtn.close' | translate }}</button>
        <button type="button" class="btn btn-success ml-3" (click)="confirm()">{{ 'FEbtn.send' | translate }}</button>
    </div>
</ng-template>